@import 'colors';
@import 'font';

.app-about {
  background-color: $white;
  color: $dark;
}

.about {

  .section {
  	font-family: $poiret;
  }

  .facts-section {
    background: rgba(36, 57, 71, .5);
  }

  .facts {
  	padding: 1.5rem;
  	color: $light;

    .facts-text {
      line-height: 2rem;
    }

  	.section {
  		font-size: 2rem;
  		padding-bottom: .75rem;
  	}

    @media (min-width: 780px){
      width: 700px;
      margin: 0 auto;
    }
  }

  .passions {
  	padding: 1.5rem;

    @media (min-width: 780px){
      width: 700px;
      margin: 0 auto;
    }
	 
  	.section {
  		color: $accent;
  		font-size: 3rem;
  	}

  	.passions-text {
      line-height: 2rem;
  	 }
   }
}