@import 'colors';
@import 'font';

.app-about {
  background-color: $white;
  color: $dark;
}

.about {

  .section {
  	font-family: $poiret;
  }

  .facts {
  	text-align: center;
  	background: rgba(36, 57, 71, .5);
  	padding: 1rem 9em;
  	color: $light;

  	.section {
  		font-size: 2rem;
  		padding-bottom: 1rem;
  	}

    @media (max-width: 600px) {
      padding: 1rem;
    }
  }

  .passions {
  	padding: 1rem 1rem 0;
	  
  	.section {
  		color: $accent;
  		font-size: 3rem;
  		text-align: center;
  		padding-bottom: 1rem;
  	}

  	.passions-text {
      text-indent: 2rem;
  	 }
   }
}