.construction {
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
}

.constructionIcon {
  margin: 0 auto 1rem;
  font-size: 10em;
  width: 1em;
  display: block;
}

.about {
  padding-top: 4rem;
}