@import 'colors';

.header {
  color: $light;
  height: 5rem;
  background-color: $primary;
  font-size: 1.5rem;
  line-height: 5rem;

  .av-name {
  	text-decoration: none;
  }

  .avatar {
	height: 4rem;
	padding: 0.5rem;
  }

  .name {
	color: $light;
	vertical-align: top;
  }

  ul {
	float: right;
	margin: 0;

	.list-item {
	  display: inline-block;
	  padding-right: 2rem;

	  a {
		text-decoration: none;
		color: $light;

		&:hover {
			color: $accent;
	  	}
	  }
	}
  }
}