@import 'colors';

.menu {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 2em;
}

.header {
  color: $light;
  height: 4em;
  background-color: $primary;

  .avatar {
	height: 5em;
	padding: 1em;
  }

  ul {
	float: right;
	margin: 0;
	font-size: 1.2em;

	.list-item {
	  display: inline-block;
	  padding-right: 2em;
	  line-height: 4em;

	  a {
		text-decoration: none;
		color: $light;
	  }

	  a:hover {
		color: $accent;
	  }
	}
  }
}