@import 'colors';
@import 'font';

.app-home {
  background-color: $primary;
  height: calc(100vh - 4rem)
}

.home {
  padding-top: 2rem;

  .bg-opacity {
    background: rgba(130, 206, 194, 0.8);
    border-radius: 1.5rem;
  }

  .description {
    font-size: 1.5rem;
    margin: 2rem auto 0;
    width: 600px;
    text-align: center;
    position: relative;
    z-index: 1;

    @media (max-width: 600px) {
      width: inherit;
      padding: 0 1em;
    }
  }

  .skyline {
    position: fixed;
    bottom: 3.98rem;
    z-index: 0;
    left: 0;

    @media (max-width: 768px) {
      bottom: 0;
    }

    @media (max-width: 1020px) {
      height: 15rem;
    }

    @media (max-width: 520px) {
      height: 15rem;
      left: -100px;
    }
  }

  .greeting-name {
    margin: 0 auto;
    font-size: 5rem;
    text-align: center;
    font-family: $poiret;
    position: relative;
    z-index: 1;

    @media (max-width: 520px) {
      font-size: 3rem;
    }
  }

  .greeting {
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    font-family: 'Poiret One', cursive;
    position: relative;
    z-index: 1;

    @media (max-width: 520px) {
      font-size: 2rem;
    }
  }
}