.home {
  padding-top: 2em;

  .description {
    margin: 2em auto 0;
    width: 400px;
    text-align: center;

    @media (max-width: 520px) {
      width: inherit;
      padding: 0 1em;
    }
  }

  .skyline {
    position: fixed;
    bottom: 0;
    z-index: -1;
    left: 0;

    @media (max-width: 860px) {
      height: 15em;
    }

    @media (max-width: 520px) {
      height: 15em;
      left: -180px;
    }
  }

  .name {
    margin: 0 auto;
    font-size: 5em;
    text-align: center;
    font-family: 'Poiret One', cursive;

    @media (max-width: 520px) {
      font-size: 3em;
    }
  }

  .greeting {
    margin: 0 auto;
    font-size: 4em;
    text-align: center;
    font-family: 'Poiret One', cursive;

    @media (max-width: 520px) {
      font-size: 2em;
    }
  }
}